<div class="intro">
  <div class="container">
    <div class="row intro-content">
      <span class="uppercase font-bold h1 block">Portail <span class="text-orange-dark">Nigérien</span><br> des données ouvertes
      </span>
      <span class="h4 block">Contribuons au développpement de notre pays!</span>
      <div class="inline-block bg-orange-dark rounded-full pt-4 pb-6 px-6 mt-6">
        <a href="#" class="text-white">Publier des données</a>
      </div>
    </div>
    <form id="adresse">
      <div class="row register bg-orange-dark flex">
        <div class="col-md-6 text-left">
          <span class="h4 block" class="text-uppercase">Rejoindre notre communauté</span>
          <span class="pt-4 h5 block">Rejoindre la communauté </span>
        </div>
        <div class="col-md-2 adr-name flex">
          <input id="name" type="text" class="form-control" name="" required="true" placeholder="Nom &amp; Prénom(s)*">
        </div>
        <div class="col-md-3 adr-email flex">
          <input id="name" type="text" class="form-control" name="" required="true" placeholder="E-mail*">
        </div>
        <div class="col-md-1 flex">

          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-green-dark"></i>
            <i class="fa fa-chevron-right  fa-stack-1x"></i>
          </span>
        </div>

      </div>

    </form>
  </div>
</div>
<div class="presentation">
  <div class="container pt-16">
    <div class="row row2">
      <div class="col-md-6 col2">
        <span class="h5 block text-orange-dark">A propos de l'organisation</span>
        <span class="h2 block">QUI SOMMES NOUS</span>

        <p class="texte">
          Lorem ipsum dolor sit amet, consectetur adipiscing.Dolores quae porro consequatur aliquam, incidunt eius
          magni provident, doloribus omnis minus ovidentonsectetur adipisicing elit. Dolores quae porro consequatur
          aliquam, incidunt fugiat. Dolores quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla.
          malis nulla duis fugiatolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis
          minus ovidentonsectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt fugiat. Dolores
          quae porro consequatur aliquam, incidunt fugiat culpa esse aute nulla. malis nulla duis fugiat

        </p>
        <div class="inline-block bg-green-dark rounded-full pt-6 pb-6 px-6 mt-6">
          <a href="#" class="text-white font-bold">Lire plus ...</a>
        </div>
      </div>
      <div class="col-md-6 col1">
        <span class="uppercase mb-10 font-bold h3 block">Jeux de données par catégorie</span>
        <div>
          <div class="flex pb-12">
            <img class="h-32 w-32 mr-8 rounded-full p-4 bg-blue-darker w-32" src="/images/EducationIcon.png" alt="ESC">
            <div class="flex flex-col">
              <span class="pb-2 text-black font-bold h4 block"> Education, Sport,
                Culture</span>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing.Dolores quae porro consequatur aliquam,
                incidunt eius magni provident. </span>
            </div>
          </div>
        </div>
        <div>

          <div class="flex pb-12">
            <img class="h-32 w-32 mr-8 rounded-full p-4 bg-blue-darker w-32" src="/images/GovernmentIcon.png" alt="ESC">
            <div class="flex flex-col">
              <span class="h4 block pb-2 text-black font-bold">Gouvernement et secteur publique</span>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing.Dolores quae porro consequatur aliquam,
                incidunt eius magni provident. </span>
            </div>
          </div>
        </div>
        <div>
          <div class="flex pb-12">
            <img class="h-32 w-32 mr-8 rounded-full p-4 bg-blue-darker w-32" src="/images/HealthIcon.png" alt="ESC">
            <div class="flex flex-col">
              <span class="h4 block pb-2 text-black font-bold">Santé</span>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing.Dolores quae porro consequatur aliquam,
                incidunt eius magni provident. </span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="parteners">
  <div class="container">
    <div class="-mt-8 mb-8 text-center">
      <span class="h4 bg-blue-darkest text-uppercase text-white inline-block py-0 px-24 m-auto rounded-full">Partenaires</span>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="https://odn.datafordev.org/">
          <img class="logo" src="/images/logo_niger.png" alt="ODN" title="ODN"> <span class="ok">OPEN DATA NIGER</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://odn.datafordev.org/">
          <img class="logo" src="/images/logo_niger.png" alt="ODN" title="ODN"> <span class="ok">OPEN DATA NIGER</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://odn.datafordev.org/">
          <img class="logo" src="/images/logo_niger.png" alt="ODN" title="ODN"> <span class="ok">OPEN DATA NIGER</span>
        </a>
      </div>
    </div>
  </div>
</div>